@model ML.Alumno
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetAll</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Alumno</h2>
            <hr />

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1">
            @Html.ActionLink("+", "Form", "Alumno", htmlAttributes: new { @class = "btn btn-success" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @if (Model.Alumnos.Count > 0)
            {
                <div class="row" style="padding-top:30px">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <tr>
                                <th class="text-center" scope="col">
                                    Editar
                                </th>
                                <th class="text-center" scope="col">
                                    IdAlumno
                                </th>
                                <th class="text-center" scope="col">
                                    Nombre
                                </th>
                                <th class="text-center" scope="col">
                                    AP
                                </th>
                                <th class="text-center" scope="col">
                                    AM
                                </th>
@*                                <th class="text-center" scope="col">
                                    Imagen
                                </th>
*@                                <th class="text-center" scope="col">
                                    Eliminar
                                </th>

                            </tr>
                            @foreach (ML.Alumno alumno in Model.Alumnos)
                            {
                        <tr>
                            <td class="text-center">
                                <a href="@Url.Action("Form", "Alumno" , new { IdAlumno=alumno.IdAlumno })" title="Edit">
                                    <img style="height:20px; width:20px;" src="../../img/edit2.jpg" />
                                </a>
                            </td>
                            <td class="text-center">
                                @alumno.IdAlumno
                            </td>
                            <td class="text-center">
                                @alumno.Nombre
                            </td>

                            <td class="text-center">
                                @alumno.ApellidoPaterno
                            </td>

                            <td class="text-center">
                                @alumno.ApellidoMaterno
                            </td>

@*                            <td class="text-center">

                                <img src="data:image/png;base64,@Convert.ToBase64String(alumno.Imagen)" width="100px" height="100px" />
                            </td>
*@
                            <th class="text-center">
                                <a href="@Url.Action("Delete", "Semestre" , new {IdSemestre=alumno.IdAlumno})" onclick="return confirm('Estas seguro que deseas eliminar estos datos?');">
                                    <img style="height:20px; width:20px" src="../../img/Borrar.png" />
                                </a>
                            </th>
                        </tr>
                            }
                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert">
                            No se encontraron registros sobre los semestres
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>


</div>